server:
  port: 8080
  shutdown: graceful
  servlet:
    context-path: /demo-boot3

app:
  datasource:
    primary:
      jdbc-url: jdbc:h2:file:./data/boot3g;MODE=Oracle;DATABASE_TO_LOWER=TRUE # 使用文件数据库，数据持久化到磁盘
      driver-class-name: org.h2.Driver
      username: sa
      password: "123456"
      hikari:
        connection-timeout: 20000
        idle-timeout: 600000
        max-lifetime: 1800000
        maximum-pool-size: 10
        minimum-idle: 5
    secondary:
      jdbc-url: jdbc:h2:file:./data/boot3g;MODE=Oracle;DATABASE_TO_LOWER=TRUE # 使用文件数据库，数据持久化到磁盘
      driver-class-name: org.h2.Driver
      username: sa
      password: "123456"
# Spring 配置
spring:
  application:
    name: demo-boot3
  # 1. H2 数据库配置
  datasource:
    # url: jdbc:h2:mem:testdb  # 使用内存数据库，应用重启后数据清空
    url: jdbc:h2:file:./data/boot3g;MODE=Oracle;DATABASE_TO_LOWER=TRUE # 使用文件数据库，数据持久化到磁盘
    driver-class-name: org.h2.Driver
    username: sa
    password: "123456"
  # 启用 H2 控制台，便于开发阶段查看数据库 (http://localhost:8080/h2-console)
  h2:
    console:
      enabled: true
      path: /h2-console

  # 2. JPA (Hibernate) 配置
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update  # 启动时根据实体类自动更新表结构
    show-sql: true       # 在控制台显示执行的 SQL，便于调试
    properties:
      hibernate:
        format_sql: true  # 格式化显示的 SQL

  # 3. Redis 配置
  data:
    redis:
      host: localhost     # Redis 服务器地址
      port: 6379         # Redis 服务器端口
      # password:        # 如果 Redis 设置了密码，在此配置
      database: 0         # 使用的 Redis 数据库索引
  # 缓存配置
  cache:
    type: redis

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  group-configs:
    - group: 'default'
      paths-to-match: '/**'

knife4j:
  enable: true
  setting:
    language: zh-CN
    enable-version: true
    enable-reload-cache-parameter: false
    enable-after-script: true
    enable-filter-multipart-api-method-type: POST
    enable-filter-multipart-apis: false
    enable-request-cache: true
    enable-host-text: localhost:8080
    enable-host: false
    enable-home-custom: true
    home-custom-path: classpath:markdown/home.md
    enable-search: true
    enable-footer: false
    enable-footer-custom: true
    footer-custom-content: Apache License 2.0 | Copyright  2023-[小菜科技有限公司](https://your-website.com)
    enable-dynamic-parameter: false
    enable-debug: true
    enable-open-api: true
    enable-api-docs: true
    enable-group: true
  cors: false
  production: false
  basic:
    enable: false
    username: admin
    password: 123456